In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./data/raw/dataset.csv")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
print(df.shape)
print(df.info())

(1470, 35)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB
None

In [4]:
df["Attrition"].value_counts(normalize=True) * 100

Attrition
No     83.877551
Yes    16.122449
Name: proportion, dtype: float64

In [5]:
df.nunique().sort_values()

EmployeeCount                  1
Over18                         1
StandardHours                  1
Attrition                      2
OverTime                       2
PerformanceRating              2
Gender                         2
BusinessTravel                 3
Department                     3
MaritalStatus                  3
RelationshipSatisfaction       4
StockOptionLevel               4
JobSatisfaction                4
EnvironmentSatisfaction        4
JobInvolvement                 4
WorkLifeBalance                4
Education                      5
JobLevel                       5
EducationField                 6
TrainingTimesLastYear          7
JobRole                        9
NumCompaniesWorked            10
PercentSalaryHike             15
YearsSinceLastPromotion       16
YearsWithCurrManager          18
YearsInCurrentRole            19
DistanceFromHome              29
YearsAtCompany                37
TotalWorkingYears             40
Age                           43
HourlyRate                    71
DailyRate                    886
MonthlyIncome               1349
MonthlyRate                 1427
EmployeeNumber              1470
dtype: int64

In [6]:
categoricalColumns = df.select_dtypes(include="object").columns.tolist()
numericalColumns = df.select_dtypes(exclude="object").columns.tolist()

categoricalColumns, numericalColumns

(['Attrition',
  'BusinessTravel',
  'Department',
  'EducationField',
  'Gender',
  'JobRole',
  'MaritalStatus',
  'Over18',
  'OverTime'],
 ['Age',
  'DailyRate',
  'DistanceFromHome',
  'Education',
  'EmployeeCount',
  'EmployeeNumber',
  'EnvironmentSatisfaction',
  'HourlyRate',
  'JobInvolvement',
  'JobLevel',
  'JobSatisfaction',
  'MonthlyIncome',
  'MonthlyRate',
  'NumCompaniesWorked',
  'PercentSalaryHike',
  'PerformanceRating',
  'RelationshipSatisfaction',
  'StandardHours',
  'StockOptionLevel',
  'TotalWorkingYears',
  'TrainingTimesLastYear',
  'WorkLifeBalance',
  'YearsAtCompany',
  'YearsInCurrentRole',
  'YearsSinceLastPromotion',
  'YearsWithCurrManager'])

In [8]:
TARGET_COL = "Attrition"

DROP_COLS = [
    "EmployeeCount",
    "EmployeeNumber",
    "Over18",
    "StandardHours"
]

CATEGORICAL_FEATURES = [
    "BusinessTravel",
    "Department",
    "EducationField",
    "Gender",
    "JobRole",
    "MaritalStatus",
    "OverTime"
]

NUMERIC_FEATURES = []
for col in df.columns:
    if col not in CATEGORICAL_FEATURES and col not in DROP_COLS and col != TARGET_COL:
        NUMERIC_FEATURES.append(col)

df[NUMERIC_FEATURES]

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1102,1,2,2,94,3,2,4,5993,...,3,1,0,8,0,1,6,4,0,5
1,49,279,8,1,3,61,2,2,2,5130,...,4,4,1,10,3,3,10,7,1,7
2,37,1373,2,2,4,92,2,1,3,2090,...,3,2,0,7,3,3,0,0,0,0
3,33,1392,3,4,4,56,3,1,3,2909,...,3,3,0,8,3,3,8,7,3,0
4,27,591,2,1,1,40,3,1,2,3468,...,3,4,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,3,41,4,2,4,2571,...,3,3,1,17,3,3,5,2,0,3
1466,39,613,6,1,4,42,2,3,1,9991,...,3,1,1,9,5,3,7,7,1,7
1467,27,155,4,3,2,87,4,2,2,6142,...,4,2,1,6,0,3,6,2,0,3
1468,49,1023,2,3,4,63,2,2,2,5390,...,3,4,0,17,3,2,9,6,0,8
1469,34,628,8,3,2,82,4,2,3,4404,...,3,1,0,6,3,4,4,3,1,2

In [9]:
x = df.drop(columns=[TARGET_COL])
y = df[TARGET_COL].map({"Yes":1, "No":0})

x = x.drop(columns=DROP_COLS)

In [11]:
x.shape, y.shape

((1470, 30), (1470,))

In [10]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [12]:
# For Linear Models
numericTransformerScaling = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler())
])

In [13]:
# For Tree Models(They Dont Require Feature Scaling)
numericTransformerNonScaling = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy="median"))
])

In [14]:
categoricalTransformer = Pipeline(steps = [
    ("imputer", SimpleImputer(strategy= "most_frequent")),
    ("encoder", OneHotEncoder(handle_unknown="ignore"))
])

In [15]:
preprocessingLinear = ColumnTransformer(
    transformers=[
        ("num", numericTransformerScaling, NUMERIC_FEATURES),
        ("cat", categoricalTransformer, CATEGORICAL_FEATURES)
    ]
)

In [16]:
preprocessingNonLinear = ColumnTransformer(
    transformers=[
        ("num", numericTransformerNonScaling, NUMERIC_FEATURES),
        ("cat", categoricalTransformer, CATEGORICAL_FEATURES)
    ]
)

In [17]:
import mlflow
import mlflow.sklearn

In [18]:
RANDOM_STATE = 42
EXPERIMENT_NAME = "Hr_Attrition_Classification"

In [19]:
mlflow.set_experiment(EXPERIMENT_NAME)

2026/01/11 00:25:09 INFO mlflow.store.db.utils: Creating initial MLflow database tables...
2026/01/11 00:25:09 INFO mlflow.store.db.utils: Updating database tables
2026/01/11 00:25:09 INFO alembic.runtime.migration: Context impl SQLiteImpl.
2026/01/11 00:25:09 INFO alembic.runtime.migration: Will assume non-transactional DDL.
2026/01/11 00:25:09 INFO alembic.runtime.migration: Context impl SQLiteImpl.
2026/01/11 00:25:09 INFO alembic.runtime.migration: Will assume non-transactional DDL.
2026/01/11 00:25:09 INFO mlflow.tracking.fluent: Experiment with name 'Hr_Attrition_Classification' does not exist. Creating a new experiment.

<Experiment: artifact_location='file:c:/Users/Aman/OneDrive/Documents/GitHub/HR-ATTRITION/mlruns/1', creation_time=1768071309774, experiment_id='1', last_update_time=1768071309774, lifecycle_stage='active', name='Hr_Attrition_Classification', tags={}>

In [20]:
from sklearn.model_selection import train_test_split

xTrain, xTest, yTrain, yTest = train_test_split(
    x,
    y,
    test_size=0.2,
    stratify=y,
    random_state= RANDOM_STATE
)

xTrain.shape, xTest.shape , yTrain.shape, yTest.shape

((1176, 30), (294, 30), (1176,), (294,))

In [21]:
from sklearn.metrics import (
    accuracy_score,
    precision_score,
    recall_score,
    f1_score,
    roc_auc_score
)
from sklearn.linear_model import LogisticRegression

In [22]:
with mlflow.start_run(run_name="logistic_baseline"):
    model = LogisticRegression(
        max_iter=1000,
        class_weight="balanced",
        random_state= RANDOM_STATE
    )

    pipeline = Pipeline(steps = [
        ("preprocessing", preprocessingLinear),
        ("model", model)
    ])

    pipeline.fit(xTrain, yTrain)

    yPredictions = pipeline.predict(xTest)
    yProbs = pipeline.predict_proba(xTest)[:, 1]

    mlflow.log_params(model.get_params())
    
    mlflow.log_metrics({
        "accuracy": accuracy_score(yTest, yPredictions),
        "precision": precision_score(yTest, yPredictions),
        "recall": recall_score(yTest, yPredictions),
        "f1": f1_score(yTest, yPredictions),
        "roc_auc": roc_auc_score(yTest, yProbs)
    })

In [23]:
with mlflow.start_run(run_name="logistic_l2_c_0.5"):
    model = LogisticRegression(
        max_iter=1000,
        C = 0.5,
        penalty= "l2",
        class_weight="balanced",
        random_state= RANDOM_STATE
    )

    pipeline = Pipeline(steps = [
        ("preprocessing", preprocessingLinear),
        ("model", model)
    ])

    pipeline.fit(xTrain, yTrain)

    yPredictions = pipeline.predict(xTest)
    yProbs = pipeline.predict_proba(xTest)[:, 1]

    mlflow.log_params(model.get_params())
    
    mlflow.log_metrics({
        "accuracy": accuracy_score(yTest, yPredictions),
        "precision": precision_score(yTest, yPredictions),
        "recall": recall_score(yTest, yPredictions),
        "f1": f1_score(yTest, yPredictions),
        "roc_auc": roc_auc_score(yTest, yProbs)
    })

    mlflow.sklearn.log_model(
        sk_model=pipeline,
        name="model"
    )

c:\Users\Aman\OneDrive\Documents\GitHub\HR-ATTRITION\.venv\Lib\site-packages\sklearn\linear_model\_logistic.py:1135: FutureWarning: 'penalty' was deprecated in version 1.8 and will be removed in 1.10. To avoid this warning, leave 'penalty' set to its default value and use 'l1_ratio' or 'C' instead. Use l1_ratio=0 instead of penalty='l2', l1_ratio=1 instead of penalty='l1', and C=np.inf instead of penalty=None.
  warnings.warn(

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
with mlflow.start_run(run_name="rf_baseline"):
    model = RandomForestClassifier(
        n_estimators=200,
        max_depth=None,
        random_state=42,
        class_weight="balanced"
    )

    pipeline = Pipeline(steps = [
        ("preprocessing", preprocessingNonLinear),
        ("model", model)
    ])

    pipeline.fit(xTrain, yTrain)

    yPredictions = pipeline.predict(xTest)
    yProbs = pipeline.predict_proba(xTest)[:, 1]

    mlflow.log_params(model.get_params())
    
    mlflow.log_metrics({
        "accuracy": accuracy_score(yTest, yPredictions),
        "precision": precision_score(yTest, yPredictions),
        "recall": recall_score(yTest, yPredictions), 
        "f1": f1_score(yTest, yPredictions),
        "roc_auc": roc_auc_score(yTest, yProbs)
    })

In [26]:
from mlflow.tracking import MlflowClient

client = MlflowClient()

RUN_ID = "2cb6d483c4244d9da564fc1c72ff12df"
MODEL_NAME = "hr_attrition_model"

mlflow.register_model(
    model_uri=f"runs:/{RUN_ID}/model",
    name=MODEL_NAME
)

2026/01/11 00:26:23 INFO mlflow.store.db.utils: Creating initial MLflow database tables...
2026/01/11 00:26:23 INFO mlflow.store.db.utils: Updating database tables
2026/01/11 00:26:23 INFO alembic.runtime.migration: Context impl SQLiteImpl.
2026/01/11 00:26:23 INFO alembic.runtime.migration: Will assume non-transactional DDL.
Successfully registered model 'hr_attrition_model'.
2026/01/11 00:26:23 WARNING mlflow.tracking._model_registry.fluent: Run with id 2cb6d483c4244d9da564fc1c72ff12df has no artifacts at artifact path 'model', registering model based on models:/m-dfcde622f4ef4ae7967422c6e63d02f5 instead
Created version '1' of model 'hr_attrition_model'.

<ModelVersion: aliases=[], creation_timestamp=1768071383457, current_stage='None', deployment_job_state=None, description=None, last_updated_timestamp=1768071383457, metrics=None, model_id=None, name='hr_attrition_model', params=None, run_id='2cb6d483c4244d9da564fc1c72ff12df', run_link=None, source='models:/m-dfcde622f4ef4ae7967422c6e63d02f5', status='READY', status_message=None, tags={}, user_id=None, version=1>

In [27]:
client.set_registered_model_alias(
    name=MODEL_NAME,
    alias="Production",
    version=1
)